@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #2F243A;
    --second: #444054;
    --third: #BEBBBB;
    --highlight: #5EFC8D;
    --highlight2: #2A7F62;
    --font: 'Montserrat';
}

body {
    font-family: var(--font), serif;
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    height: 100vh;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

